.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.navbar .logo {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a:hover {
    background-color: #45a049;
    border-radius: 5px;
}