<div class="book-container" *ngIf="livro">
  <img *ngIf="livro?.volumeInfo?.imageLinks?.thumbnail" [src]="livro.volumeInfo.imageLinks.thumbnail" alt="Capa do livro">
  <h2>{{ livro.volumeInfo.title }}</h2>
  <p>Autor: {{ livro.volumeInfo.authors.join(', ') }}</p>
  <p>{{ livro.volumeInfo.description }}</p>
  <div class="avaliacao-container">
    <button (click)="toggleFavorito()" class="favorito-btn">
    <span *ngIf="favorito" class="icon">&#9733;</span>  <!-- Ícone de estrela -->
    <span *ngIf="!favorito" class="icon">&#9829;</span> <!-- Ícone de coração -->
    {{ favorito ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos' }}
  </button>
  <div *ngIf="favoritoAdicionado" class="favorito-message">
    Livro adicionado aos favoritos!
  </div>
    <!-- Componente de Comentários -->
    <app-comentarios *ngIf="livro?.id" [livroId]="livro.id"></app-comentarios>
</div>