<div class="book-container" *ngIf="livro">
  <img *ngIf="livro?.volumeInfo?.imageLinks?.thumbnail" [src]="livro.volumeInfo.imageLinks.thumbnail" alt="Capa do livro">
  <h2>{{ livro.volumeInfo.title }}</h2>
  <p>Autor: {{ livro.volumeInfo.authors.join(', ') }}</p>
  <p>{{ livro.volumeInfo.description }}</p>
  <button (click)="toggleFavorito()">
    {{ favorito ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos' }}
    <div>
  <label for="avaliacao">Avalie este livro (0 a 5):</label>
  <input type="number" id="avaliacao" [(ngModel)]="avaliacao" min="0" max="5">
  <button (click)="salvarAvaliacao()">Salvar Avaliação</button>
</div>
  </button>
  <app-comentarios *ngIf="livro" [livroId]="livro.id"></app-comentarios>
</div>