.favorito-btn {
    background-color: rgb(51, 194, 7);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.favorito-btn:hover {
    background-color: #19c427;
  }
  
.favorito-btn .icon {
    margin-right: 10px;
    font-size: 20px;
}
  
.favorito-btn .icon:nth-child(1) {
    color: gold; 
}
  
.favorito-btn .icon:nth-child(2) {
    color: red;
}
.favorito-message {
    margin-top: 10px;
    color: #27ae60;
    font-size: 14px;
    font-weight: bold;
}